---
layout: page
title: 欢迎
tagline: 欢迎访问五域通达知识库。如果您不知道从哪开始，请看常见问题。如果您看完了知识库文章还无法找到问题的答案，请到<a href="http://portal.51hosting.com">客户中心</a>向我们提交工单。
---
{% include JB/setup %}
{% include search.tpl %}

<div class="row">
  <div class="span6">
    <h3>常见问题</h3>
    {% assign list = site.tags.faq %}
    {% assign preview = false %}
    {% include list.tpl %}
  </div>
  <div class="span6">
    <h3>新知识库文章</h3>
    {% assign list = site.posts %}
    {% assign limit = 20 %}
    {% assign preview = false %}
    {% include list.tpl %}
  </div>
</div>

